@model QUVideoLinkArchive.ViewModel.VideoBackendViewModel
@{
	ViewData["Title"] = "jayAdmin";
}

<h2>jayAdmin</h2>
@*Just a temp admin page to quickly remove certain tags--Page can be deleted. *@
@using (Html.BeginForm(FormMethod.Post, new { id = "jayAdmin" }))
{
	<div class="row">
		<input type="button" class="btn btn-danger" value="Delete Check Tags" onclick="onsub()" />
	</div>

	<div class="row">
		<table class="table table-bordered">
			<tr>
				<th>del</th>
				<th>group</th>
				<th><button class="btn-link" id="namesort">name</button></th>
				<th>misc</th>
			</tr>

			@foreach (var i in Model.GeneralTagList)
			{
				string tag = i.Tag;
				string tag_id = i.Tag_ID;
				string tag_group = i.Tag_Group;
				string tdThingy = "td_" + tag_group + "_" + @tag_id;
				string cssID = tag_group + "_" + @tag_id;
			
				<tr class="@tag_group" >
					<td><input type="checkbox" class="checkbox" name="check" value="@cssID" id="@cssID" /></td>
					<td>@tag_group</td>
					<td id="@tdThingy">@tag</td>
					<td>
						[@tag] -- [@tag_id] [@tag_group]
					</td>
				</tr>
			}


			

		</table>
		<input type="text" id="deleteThese" name="deleteThese" />
	</div>

}

<script>

	function hideit(tagcat)
	{
		$("." + tagcat).hide();
	}

	function onsub()
	{
		var checks = document.getElementsByClassName("checkbox");
		$('#deleteThese').val("");

		for (var x = 0; x < checks.length; x++)
		{
			
			if ($('#' + checks[x].id).prop('checked') == true)
			{
				console.log(checks[x].id + $('#' + checks[x].id).prop('checked'));
				var pl = checks[x].id;
				var boxCont = $('#deleteThese').val() + pl + "|";

				$('#deleteThese').val(boxCont);


			}

		}
		$('#jayAdmin').submit();
		
	}


</script>


